.nav-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.contact-text {
  font-family: "Nunito Sans", sans-serif;
  color: #000;
  font-size: 16px;
}

.contact-text-lg {
  font-family: "Nunito Sans", sans-serif;
  color: #000;
  font-size: 30px;
}

.main-tx-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.footer-sect {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
}

.font-home {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
}